body {
    background:url("../images/menubackground2.jpg") ;
 background-size: 100vw 100vh;
 background-repeat: no-repeat;
 margin:0;
}

#consumptionmovie{

    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 4%;
margin-bottom: 3%;
}

#theshow-patrons{
    font-family: 'Great Vibes', cursive;
    font-size: 45px;  
    color: white;
    text-decoration: none;
    padding-left: 5%;
    padding-right: 3%;
    margin-top: 5%;
    

}

a{
    text-decoration: none;
}



div.shortfilmnav a{

    font-family: 'Frank Ruhl Libre', serif;
font-size: 20px;
font-weight: 400px;
float: right;
padding-left: 1%;
padding-right: 1%;
margin-bottom: 3%;
text-decoration: none;
 color: white;


}
       
div.shortfilmnav{
    margin-right: 4%;
    
}
