body{
    background:url("../images/menubackground.jpg") ;
   background-size: 100% 122%;
   background-repeat: no-repeat;
   
   
}


h1{
color: #566266;
font-family: 'Great Vibes', cursive;
font-size: 105px;
margin: 100px;

}

h2{
    color:#566266;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 45px;
    font-weight: 700px;
}

.entreeitems{
    color: #566266;
    font-family: 'Frank Ruhl Libre', serif; 
    font-size: 35px;
    font-weight: 400px;
    
   }

   a :link{
       text-decoration: none;

   }
  
   p{
       font-family: 'Lora', serif;
       color: #566266;
       font-size: 15px;



   }