body {
    background:url("../images/menubackground.jpg") ;
 background-size: 100vw 100vh;
 background-repeat: no-repeat;
 margin:0;
}


h1{
color: #566266;
font-family: 'Great Vibes', cursive;
font-size: 125px;
margin-left: auto;
margin-right: auto;
text-align: center;
margin-top: 10%;
font-weight: 400;
margin-bottom: 0;
}

h2{
    color:#566266;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 55px;
    font-weight: 700px;
    margin-left: auto;
margin-right: auto;
margin-bottom: auto;
text-align: center;
margin-top: 3.5%;
}

a {
    color: #566266;
    text-decoration: none;
    font-family: 'Frank Ruhl Libre', serif; 
    font-size: 25px;
    font-weight: 700;
   text-align: center;
   
 
 }



 ul{
    text-align: center;
    list-style: none;
    padding-left: 0;
    margin-top: 2%;
margin-bottom: 0;
}
  
 p{
       font-family: 'Lora', serif;
       color: #566266;
       font-size: 15px;
       text-align: center;
      
       

   }
   
   footer{
    font-family: 'Lora', serif;
       color: #566266;
       font-size: 10px;
    text-align: center;
    margin-top: 4%;
    padding-bottom: 2.35%;

   }

   #contact{

    font-family: 'Lora', serif;
       color: #566266;
       font-size: 10px;
    text-align: center;
    margin-top: 4%;
    padding-bottom: 2.35%;


    }

  

    .mb-3{

      text-align: center;
     font-family: 'Frank Ruhl Libre', serif; 
       color: #566266;
       font-weight: 700;
       font-size: 30px;
    }
    
    .form-control{
       text-align: center;
    }

    .form-label{
      text-align: center;
     font-family: 'Frank Ruhl Libre', serif; 
       color: #566266;
       font-weight: 700;
       font-size: 30px; 
    }

    .form-floating{
      text-align: center;
     font-family: 'Frank Ruhl Libre', serif; 
       color: #566266;
       font-weight: 700;
       font-size: 30px; 
    }
   
    
