#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;}

    #theshow{
        font-family: 'Great Vibes', cursive;
        font-size: 45px;  
        color: black;
        text-decoration: none;
        padding-left: 1%;
        padding-right: 1%;
        margin-top: 2%;
    }
        a{
            text-decoration: none;
        }
    
       
    
        div.synopsisnav a{
    
            font-family: 'Frank Ruhl Libre', serif;
        font-size: 20px;
        font-weight: 400px;
        float: right;
        padding-left: 1%;
        padding-right: 1%;
        margin-bottom: 3%;
        text-decoration: none;
         color: black;
         
        
        }
               
        div.synopsisnav{
            margin-right: 3%;
            
        }